extends layout

block content
    if leeches.length > 0
        .dropdown
            .btn.btn-info(href="#", data-toggle="dropdown").dropdown-toggle #{session.orderTitle}
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                li
                    a(href='/order?by=voteCount&direction=ascending', tabindex='-1') Vote Count Ascending
                    a(href='/order?by=voteCount&direction=descending', tabindex='-1') Vote Count Descending (default)
                li.divider
                li
                    a(href='/order?by=shopName&direction=ascending', tabindex='-1') Shop Name Ascending
                    a(href='/order?by=shopName&direction=descending', tabindex='-1') Shop Name Descending
                li.divider
                li
                    a(href='/order?by=cityTown&direction=ascending', tabindex='-1') City/Town Ascending
                    a(href='/order?by=cityTown&direction=descending', tabindex='-1') CityTown Descending
                li.divider
                li
                    a(href='/order?by=districtArea&direction=ascending', tabindex='-1') District/Area Ascending
                    a(href='/order?by=districtArea&direction=descending', tabindex='-1') District/Area Descending
    h1 #{title}
        .row
            .col-sm-2.h5
                if user
                    .panel.panel-default
                        .panel-heading.text-center Info
                        .panel-body.h5
                            | Hi '#{user.username}'
                            br
                            br
                            br
                            | Votes Today: &nbsp;&nbsp;
                            a(id="votesToday") #{session.votesToday}
                            br
                            br
                            | Remaining: &nbsp;&nbsp;
                            a(id="votesRemainingToday") #{session.votesRemaining}
            .col-sm-10.h4
                each leech in leeches
                    .col-sm-4
                        .panel.panel-default
                            .panel-heading
                                | Votes of Shame : &nbsp&nbsp
                                a(id="leechVotes-" + leech._id) #{leech.voteCount}
                                if session.votesRemaining > 0
                                    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    a.btn.btn-primary(id="idUp-" + leech._id onclick="voteUp(\"" + leech._id + "\")" href="#") +
                            .panel-body
                                div.image(style=`background: url("${leech.photoLocation}") top center no-repeat; background-size: cover;`)
                                div.details.h5
                                    .detail
                                        label Shop Name:
                                        input(type="text" value=leech.shopName readonly)
                                    div.detail
                                        label City/Town:
                                        input(type="text" value=leech.cityTown readonly)
                                    div.detail
                                        label District/Area:
                                        input(type="text" value=leech.districtArea readonly)
                                    div.detail
                                        label Comments:
                                        textarea#comments(type="textarea" readonly) #{leech.comments}
