extends layout

block content

    h1 #{title}
    ul.list-group
        each leech in leeches
            li.list-group-item
                div.vote
                    div.voting
                        | Votes of Shame : &nbsp&nbsp
                        a(id="leechVotes-" + leech._id) #{leech.voteCount}
                        //if session.votesRemaining > 0
                        a.btn.btn-primary(id="idUp-" + leech._id onclick="voteUp(\"" + leech._id + "\")" href="#") +
                    div.image(style=`background: url("${leech.photoLocation}") top center no-repeat; background-size: cover;`)
                div.detail
                    label#asd(for="shopName") Shop Name:
                    input#shopName(type="text" value=leech.shopName readonly)
                div.detail
                    label(for="cityTown") City/Town:
                    input#cityTown(type="text" value=leech.cityTown readonly)
                div.detail
                    label(for="districtArea") District/Area:
                    input#districtArea(type="text" value=leech.districtArea readonly)
                div.detail
                    label Comments:
                    textarea#comments(type="textarea" readonly) #{leech.comments}
